<%# cache ['home', site, I18n.locale] do %>
	<% 
	@portfolio = site.portfolio
	@projects = site.projects.latest(6)
	@features = site.features.live
	@parent_categories = @portfolio.categories
	@services = site.sections.named("services").try(:children)
	%>
	<% if @features.any? %>
	<section id="main-carousel">
    <div class="container-fluid grid">
      <div class="row">
        <% main_feature =  @features.shift %>
        <div class="col-xs-12 col-md-7" data-image="<%= main_feature.image.url %>">
          <div class="inner">
          <p><%= main_feature.title %></p>
          <%= link_to(main_feature.owner.public_url) do %>
            <span class="glyphicon glyphicon-play-circle">&nbsp;</span>
          <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-md-5">
          <div class="row">
            <% main_feature =  @features.shift %>
            <div class="col-xs-12" data-image="<%= main_feature.image.url %>">
              <div class="inner">
                <p><%= main_feature.title %></p>
                <%= link_to(main_feature.owner.public_url) do %>
                  <span class="glyphicon glyphicon-play-circle">&nbsp;</span>
                <% end %>
              </div>
            </div>
            <% main_feature =  @features.shift %>
            <div class="col-xs-12" data-image="<%= main_feature.image.url %>">
              <div class="inner">
                <p><%= main_feature.title %></p>
                <%= link_to(main_feature.owner.public_url) do %>
                  <span class="glyphicon glyphicon-play-circle">&nbsp;</span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      	<div id="projects-container" class="row">
          <%= render @projects %>
        </div>
        <div class="row text-center more-projects-row">
          <%= link_to("More projects", @portfolio.public_url, :class => "btn btn-primary btn-big") %>
        </div>
      </div>
    </div>
	</section>
  <section id="services">

    <div class="panel-group" id="accordion">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              <span class="glyphicon glyphicon-tower"></span>&nbsp;Conseil en marque
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="copy-text"><h2>Penser les actions</h2>
            <p>Comment produire une action marketing quelle qu'elle soit, sans fixer des buts, des objectifs, des fondamentaux ?... </p>
            <p>Le marché, les acteurs, les attentes des consommateurs et leurs habitudes d'achat,... sont autant de paramètres qu'il faut maîtriser avant d'établir une stratégie ad'hoc définissant les cibles, le positionnement, les messages, les supports...</p><h2>Intégrez la démarche design dès vos premières réflexions</h2>
            <p>Nourrissez-vous d'une intégration du design très en amont de vos réflexions de stratégie d'entreprise, d'image ou de communication et bénéficiez...</p>
            <ul><li>d'idées nouvelles et innovantes</li>
            <li>d'un oeil et d'un avis extérieur pour prendre du recul</li>
            <li>d'une aide à la prise de décision</li>
            <li>d'une optimisation de vos budgets et de votre temps de développement</li>
            </ul>
            <p>Jouf Design s'intègre à vos équipes et participe à vos projets en toute confidentialité.</p></div>
          </div>
        </div>
      </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <span class="glyphicon glyphicon-phone"></span>&nbsp;Internet et mobile
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="copy-text"><h2>Outil de communication incontournable</h2>
              <p>Site vitrine, site institutionnel ou site marchand... il a désormais toute sa place dans la politique de communication et de commercialisation de l'entreprise et de la marque.</p>
              <h2>Les solutions internet de Jouf Design</h2>
              <p>Jouf Design propose des solutions innovantes et performantes basées sur le CMS "GKO" développée en interne et fondée sur le framework RubyOnRails.<br>Ce CMS est composé de modules répondant à l'ensemble des fonctionnalités nécessaires. Il est simple d'utilisation et sa prise en main est rapide et intuitive.</p>
              <p><a title="undefined" href="/offre-site-internet">Voir les offres internet de Jouf Design</a>
              </p>
              <h2>Le potentiel du web-marketing</h2>
              <p>L'internet permet de développer sans cesse de nouvelles fonctionnalités notamment en matière de services et de marketing opérationnel fondé sur la gestion de bases de données contacts. La création de tels outils favorise le développement de vos business. Ils constituent également une valorisation de votre entreprise.</p>
              <p>Jouf Design élabore des stratégies internet à court et moyen terme et produit les sites et les outils multimédia dont votre entreprise a besoin aujourd'hui avec des technologies récentes.</p></div>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <span class="glyphicon glyphicon-eye-open"></span>&nbsp;Identité visuelle
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="copy-text"><h3>Un logo c'est essentiel !</h3>
            <p>La création de la marque est un geste fondateur de votre communication. C'est aussi un des éléments le plus pérenne : vous pouvez changer vos messages publicitaires chaque année mais la marque, elle, doit être un socle solide, un point de repère pour vos prospects, clients, partenaires, prescripteurs,...</p>
            <h3>Mais le logotype n'est pas tout...</h3>
            <p>L'identité de votre marque se construit également par l'image véhiculée sur l'ensemble de ses supports ; les structures graphiques, les gammes de couleurs, les univers typographiques... c'est tout cela qui constitue la richesse et la cohérence de votre image.</p>
            <p>La charte graphique formalise les règles d'application de votre identité. C'est un outil indispensable pour garantir un développement maîtrisé.</p></div>
          </div>
        </div>
      </div>

      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
              <span class="glyphicon glyphicon-book"></span>&nbsp;Edition, production, fabrication
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="copy-text"><h2>Des supports charnels</h2>
            <p>L'édition est un des supports privilégié de la communication : brochure, catalogue produit, prospectus,... Des documents "papier" irremplaçables qui nourrissent une relation charnelle entre votre entreprise et ses publics.</p>
            <p>En matière d'édition, de nombreux critères doivent être maîtrisés ; définition du format, mise en page, ton rédactionnel, gestion de l'iconographie, type de papiers, façonnage, qualité de l'impression... maîtrise du budget.</p><h2>Tout un monde de professionnels</h2>
           <p>Nous nous appuyons sur un réseau de partenaires spécialisés pour la production des supports que nous développons. Nous garantissons ainsi un suivi de production et veillons au respect des prérogatives créatives et des budgets.</p>
           <h3>Offrir des techniques innovantes et qualitatives</h3>
           <p>Nous souhaitons proposer à nos clients des techniques différenciantes et adaptées aux contraintes d'image et de coût parce qu'à chaque projet les besoins sont spécifiques.</p>
           <p>Nous enrichissons sans cesse notre réseau de partenaires dans tous les domaines : impression numérique, impression offset, sérigraphie, fabrication d'enseignes et de signalétique (vinyle, bois, inox, aluminium, peinture,...), marquages textiles, objets promotionnels et publicitaires, cartonniers, photographes, traducteurs,...</p></div>
          </div>
        </div>
      </div>

      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;Publicité
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="copy-text"><h2>Emettre un message clair... mais lequel et à qui ?</h2>
            <p>En matière de publicité, le message, le ton, le visuel sont des fondamentaux à maîtriser, à lier entre eux. Mais quels sont les enjeux ? la notoriété, la création de trafic, la fidélisation, l'augmentation du chiffre par client ? <br>Pour Jouf Design la réponse à ces question est le point de départ de la création d'une publicité ou d'une campagne car trop souvent, les publicités conçues sont dépourvues de message et se résument à une photo sur laquelle on colle le logotype.<br>Faisons du beau, cela va de soit... mais faisons surtout de l'efficace !</p>
            <h2>Soyons créatifs</h2>
            <p>Dans la publicité, la créativité est de rigueur. Sa durée de vie, la nature du média, la rapidité de lecture sont autant de contraintes à gérer. Une publicité créative, qui est un événement et qui marque les esprits : voilà le credo de Jouf Design.</p>
            <h2>Maîtrisez vos actions</h2>
            <p>La planification de la publicité est essentielle pour maîtriser et optimiser les coûts d'achats d'espaces média. C'est aussi un des éléments à prendre en compte dans la conception même de la publicité et de son message.</p>
            <h2>Plans saisonniers ou ponctuels</h2>
            <p>Jouf Design propose de développer des plans de communication complets et d'être votre interlocuteur auprès des médias pour définir les espaces, les fréquences, les budgets et transmettre les éléments techniques nécessaires.</p></div>
          </div>
        </div>
      </div>
      
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
              <span class="glyphicon glyphicon-flag"></span>&nbsp;Programmes signalétique
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="copy-text"><h2>Une véritable programmation spatiale</h2>
            <p>Nous concevons la signalétique dans son ensemble, c'est-à-dire en prenant en compte la nature des informations (directionnelles, fonctionnelles, informatives, d'aide au choix...), et l'environnement dans lequel la signalétique s'intègre. Nous recherchons la meilleure réponse en terme de lisibilité, d'impact, de compréhension dans le respect de votre architecture commerciale extérieure et intérieure.</p>
            <h2>Au delà des objectifs fonctionnels</h2>
            <p>Notre ambition c'est aussi d'enrichir votre signalétique, de lui conférer une personnalité adaptée à votre identité visuelle et une dimension émotionnelle aussi bien par le graphisme développé que par les matériaux et les techniques de marquage proposés.</p>
            <p>Aider les clients à se diriger dans le magasin, à repérer les mises en avant commerciales, leur fournir les critères de choix d'un produit, animer le point de vente par des opérations commerciales, développer des univers de consommation,... voici quelques exemples de problématiques auxquelles nous répondons.</p></div>
          </div>
        </div>
      </div>

      
    </div>
  </section>
	<% end %>

	<% if @services.try(:any?) %>
	<!-- Begin Services -->
	<section id="services-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 intro">
          <h1>Our Services</h1>
          <p> I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much sh*t this morning over this case to hand it over to your d*mb a*s.</p>
        </div>
      </div>
      <div class="row">
    	  <article class="col-xs-12">
    	    <div class="panel-group" id="services-accordion">
          <% @services.each do |service| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#services-accordion" href="#<%= dom_id(service) %>">
                <%= service.title.html_safe %>
                <span class="pull-right"><i class="icon-plus"></i><i class="icon-minus"></i></span>
                </a>
              </div>
              <div id="<%= dom_id(service) %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <%= render_copy_text(service.body) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        </article>
     </div>
   </div> 
  </section>
	<% end %>
<%# end %>