<% cache [action_name, resource.site, I18n.locale, resource.section, resource] do %>
<div class="hide-on-phones">
<%= render_parent_categories(:title => '') %>
</div> 
<article class="row-fluid project">
	<div class="span8">
		<% @project.images.each do |img| %>
		   <%= image_fu(img, "644x") %>
		<% end if @project.images.try(:any?) -%>
		</div>
	<div class="span4">
	<%= page_title(resource.title) %>
	<div class="description project">
	  <%= render_html_text(resource.body) if resource.body.present? %>
	  <%= link_to("Visiter le site Internet".html_safe, resource.website, :target => "_blank", :class => "gallery-link") unless resource.website.blank? %>
	  <% unless is_mobile_device? %>
	    <% if @resource_categories.try(:any?) || @resource_stickers.try(:any?) %> 
	      <div class='metas'>
	      	<%= render_resource_categories %>
	      	<%= render_resource_stickers %>
	      </div>
	    <% end %> 
	    <%= render_next_previous %>
	    <% end %>
	</div> 
	</div>
</article>
<% end %>